{% extends 'base.html.twig' %}

{% block title %}Sym_The_district!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		/* css du panier */
		table {
			border-collapse: collapse;
			width: 100%;
		}
		table,
		td,
		th {
			border: 1px solid black;
		}
		h1 {
			text-align: center;
		}
	</style>
	{# <main class="container"> #}
	{# <section class="row">
							<div class="col-12 "> #}
	<h1>Votre Panier</h1>
	{# </div>
				      </section>
				      </main> #}


	{% if items| length > 0 %}
		<table id="customers">
			<thead>
				<tr>
					<th>Libelle</th>
					<th>prix</th>
					<th>Quantité</th>
					<th class="text-right">Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% for item in items %}
				<tbody>
					<tr>
						<td>{{item.plat.libelle}}</td>
						<td>
							{{item.plat.prix}}
							€</td>
						<td>
							{{item.quantity}}</td>
						<td>
							{{item.plat.prix * item.quantity}}
						</td>
						<td>
							<a href="{{path('app_panier_ajouter',{'id':item.plat.id})}}" class="btn btn-success btn-sm mr-2 ml-2">+</a>
							<a href="{{path('app_panier_remove',{'id':item.plat.id})}}" class="btn btn-danger btn-sm">-</a>

						</td>
					</tr>
				</tbody>
			{% endfor %}
			<foother>
				<tr>
					<td colspan="3" class="text-right">Total</td>
					<td>{{total}}
						€</td>
					<td></td><tr/>
				</tr>
			</foother>
		</table>
		<div>
			<button>
				<a href="{{path('app_plat')}}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Continuer mes achats</a>
                <a href="{{path('app_panier_commande')}}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Commander maintenant</a>
			</button>

		</div>

	{% else %}
		<p>
			Surprise,  votre panier est vide !</p>
	{% endif %}


{% endblock %}
