{% extends 'base.html.twig' %}

{% block title %}SymPlat
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<!---Les plats-->

	<div class="row">
		<div class="col">
			
				<div class="card">
					 <div class="col-10 mx-auto"> 
                 <h1>Nos PLats {{ plats | length }}</h1>

                 {% for plat in plats %}
				 <a href="{{ path('app_plat_detail',{'id':plat.id}) }}" class="text-decoration-none">
                 <span class="d-block">
                     {# {{ plat ["libelle"]|upper }}  #}
                     <img src="{{ asset('image/food_actuel/') ~ plat.image  }}" />
					   <a href="{{ path('app_plat_detail',{'id':plat.id}) }}" id="btn-style" class="btn" type="none">Détail</a>
                 </span>
				 </a>
                 {% endfor %}
             </div>
			        {# <a href="{{path("panier_ajouer",{id:plat.id})}}"  class="btn btn-success"  <i class="fa-solid fa-cart-minus"></i> > Ajouter</a> #}
						{# <button type="submit" class="btn btn-outline-primary">Ajouter un Panier</button> #}
					</div>
				</div>
			{# </a> #}
		</div>
		
	</div>

	<!--fin plats-->

{% endblock %}
