{% extends 'base.html.twig' %}

{% block title %}PlatDetailController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<h1>
		Détails de
		{{plat.libelle}}</h1>


	<div class="card mb-3" style="max-width: 540px;">
		<div class="mt-5">
			<h4>{# {{ dump(ma_variable)}} #}
				<!-- Tous les plats<?php echo $mon_plats[0]->plat_libelle ?> -->
			</h4>
		</div>


		<div class="row g-0">
			<div class="card border-warning mb-3" style="max-width: 540px;">
				<span class="d-block">
					<div class="col-4;">
						{{ plat.libelle|upper }}
						<img src="{{ asset('image/food_actuel/') ~ plat.image }}"/>
					</div>

					<h4 class="card-title">
						{{ plat.libelle }}</h4>
					<div class="card-text">
						Description =
						{{plat.description }}
						<br>
						Prix =
						{{ plat.prix  }}
						€
						<div>
							<button>
								<a href="{{path('app_panier_ajouter',{'id':plat.id})}}">Ajouter au panier</a>
								<i class="fa-solid fa-cart-shopping"></i>
							</button>

						</div>
					</div>
				</span>
			</div>
		</div>
	</div>

</div></div>{% endblock %}
